<a href="https://colab.research.google.com/github/kanyaweeud/data_viz/blob/main/Qiuz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os 
path = '/content/drive/My Drive/dataviz_2021_data'

In [6]:
file_path = os.path.join(path,'example_timestamp.csv') 
print(file_path)

/content/drive/My Drive/dataviz_2021_data/example_timestamp.csv

In [7]:
Q5 = pd.read_csv(file_path)
Q5.head()

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20