<a href="https://colab.research.google.com/github/kanyaweeud/data_viz/blob/main/Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
import os
path = '/content/drive/My Drive/dataviz_2021_data'

In [11]:
data_path = os.path.join(path,'3.-41-58.xls')

In [12]:
data = pd.read_excel(data_path)
data

   รายได้เฉลี่ยต่อเดือนต่อครัวเรือน จำแนกตามภาค และจังหวัด พ.ศ. 2541 - 2558  ...          Unnamed: 12
0   Average Monthly Income Per Household: 1998 - 2015                        ...                  NaN
1                                                 NaN                        ...         บาท   Baht
2                                      ภาค และจังหวัด                        ...  Region and province
3                                                 NaN                        ...                  NaN
4                                                 NaN                        ...                  NaN
..                                                ...                        ...                  ...
87                                           นราธิวาส                        ...           Narathiwat
88                                                NaN                        ...                  NaN
89                                                NaN                        ...                  NaN
90                                             ที่มา:                        ...                  NaN
91                                            Source:                        ...                  NaN

[92 rows x 13 columns]