<a href="https://colab.research.google.com/github/kanyaweeud/data_viz/blob/main/Quiz5%E0%B9%80%E0%B8%89%E0%B8%A5%E0%B8%A2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

จากไฟล์ example_timestamp.csv

เปรียบเทียบผลรวม ```alpha``` และ ```beta``` ของข้อมูล ก่อนวันที่ 2 มิถุนายน 2020 และตั้งแต่วันที่ 2 มิถุนายน 2020

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
path = '/content/drive/My Drive/dataviz_2021_data'

In [ ]:
data_path = os.path.join(path,'example_timestamp.csv')
data_path

'/content/drive/My Drive/dataviz_2021_data/example_timestamp.csv'

In [ ]:
data  =  pd.read_csv('/content/drive/My Drive/dataviz_2021_data/example_timestamp.csv')

In [ ]:
data

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [ ]:
data.iloc[0,0]

'2020-05-29'

In [ ]:
from datetime import datetime

https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [ ]:
data['Unnamed: 0'] = pd.to_datetime(data['Unnamed: 0'], format='%Y-%m-%d')
data

  Unnamed: 0  alpha  beta
0 2020-05-29   8.78    24
1 2020-05-30  13.00    25
2 2020-05-31   0.44    25
3 2020-06-01   1.94    28
4 2020-06-02   5.40    20
5 2020-06-03   5.68    21
6 2020-06-04   2.64    16

In [ ]:
data.iloc[0,0]

Timestamp('2020-05-29 00:00:00')

In [ ]:
A = data[data['Unnamed: 0']<datetime(day=2,month=6,year=2020)].sum()
print(A)

alpha     24.16
beta     102.00
dtype: float64

In [ ]:
A['alpha']

24.160000000000004

In [ ]:
print(f"ผลรวมของค่า alpha ก่อนวันที่ 2 มิ.ย. 2020 คือ {A['alpha']:.2f}")

ผลรวมของค่า alpha ก่อนวันที่ 2 มิ.ย. 2020 คือ 24.16

### Query how?

In [ ]:
data.query('alpha == 1.94')

  Unnamed: 0  alpha  beta
3 2020-06-01   1.94    28

In [ ]:
data[data['alpha']==1.94]

  Unnamed: 0  alpha  beta
3 2020-06-01   1.94    28